/ApplicationActivator/ApplicationActivator/ipch

/ApplicationActivator/ApplicationActivator/x64/Debug
/ApplicationActivator/ApplicationActivator/Debug
/ApplicationActivator/ApplicationActivator/ApplicationActivatorTester/obj
/ApplicationActivator/ApplicationActivator/ApplicationActivatorTester/bin
/ApplicationActivator/ApplicationActivator/ApplicationActivator/Debug
/ApplicationActivator/ApplicationActivator/ApplicationActivator/x64
